
<!DOCTYPE html>
<html>
  <head>
    <title>I18nproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
  <ul>
    <li><%= link_to 'Русский', root_path(locale: :ru) %></li>
    <li><%= link_to 'English', root_path(locale: :en) %></li>
  </ul>
</body>
    <%= yield %>
  </body>
</html>
